<!DOCTYPE html>
<html ng-app="RpiHomeSecurity">
<head>
    <link href="app.css" rel="stylesheet">
</head>
<body>
<h1>RPi Home Security</h1>


<div ng-controller="PublishingCtrl" class="controller">
        <input type="text" ng-model="model.message" />
        <button ng-click="clickMe(model.message)">Run Action List</button>
        <button ng-click="getActionLists">Get Available Action Lists</button>
        <div id="actionLists">
            {{model.actionLists}}
        </div>
    </div>
<div id="Receiver" ng-controller="ReceivingCtrl" class="controller">
    We received: <span class="received">{{model.message}}</span>
</div>

<div>
    
</div>
<script>
        AUTOBAHN_DEBUG = true;
    </script>
    <script src="autobahn.js"></script>
    <script src="angular.js"></script>
    <script src="app.js"></script>
</body>
</html>